body {
  max-width: 680px;
  margin: 0 auto;
  padding: 48px 24px;

  color: #111;
  font-size: 17px;
  line-height: 1.9;

  font-family: system-ui, sans-serif;
}

/* pタグすべてに、上下30pxの余白を追加する */
p {
  margin-top: 30px;
  margin-bottom: 30px;
}
