body {
  max-width: 680px;
  margin: 0 auto;
  padding: 80px 24px;

  color: #111;
  font-size: 17px;
  font-family: system-ui, sans-serif;
}

.writes-content p {
  line-height: 2.2;
  margin-bottom: 2.2em;
}

a {
  color: #111;
  text-decoration: none;
}

a:hover {
  color: #888;
}

details {
  margin-bottom: 24px;
}

summary {
  cursor: pointer;
  font-size: 28px;
  margin-bottom: 24px;
}

details div {
  margin-bottom: 18px;
  padding-left: 28px;
  font-size: 20px;
}
