body {
  margin: 0;
  padding: 0;

  color: #111;
  font-size: 17px;
  font-family: system-ui, sans-serif;
}

main {
  max-width: 680px;
  margin: 0 auto;
  padding: 80px 24px;

  line-height: 2.4;
}

a {
  color: #111;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #888;
}

details {
  margin-bottom: 24px;
}

summary {
  cursor: pointer;
  font-size: 28px;
  margin-bottom: 24px;
}

details div {
  margin-bottom: 18px;
  padding-left: 28px;
  font-size: 20px;
}

.footer {
  margin-top: 120px;
  text-align: center;
  font-family: serif;
  color: black;
  width: 100%;
  line-height: 1.6;
  padding-bottom: 38px;
}

.touch {
  font-size: 16px;
  margin-bottom: 6px;
}

.part {
  font-size: 14px;
  margin-bottom: 6px;
}

.links {
  font-size: 14px;
  margin-bottom: 6px;
}

.copyright {
  font-size: 13px;
}
