<!DOCTYPE html>
<html lang="ja">

<head>

<meta charset="UTF-8">

<link rel="stylesheet" href="https://use.typekit.net/qsa5fag.css">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>OHLUCINDA</title>

<link rel="stylesheet" href="{{ '/assets/style.css' | relative_url }}">

<script>

if (window.innerWidth > 768) {

  window.location.href = "about:blank";

}

</script>

</head>

<body>

<main>

{% if page.url != "/" 
and page.url != "/months/" 
and page.url != "/about/" 
and page.url != "/bookmarks/" %}

<header class="post-title">

  {{ page.title }}

</header>
  
{% endif %}

  {{ content }}

</main>

{% if page.url != "/" and page.url != "/months/" %}

<div class="post-nav">

  {% if page.previous.url %}
    <a href="{{ page.previous.url | relative_url }}">
      &lt; back
    </a>
  {% endif %}

 {% if page.url == "/about/" or page.url == "/bookmarks/" %}

  <a href="{{ '/' | relative_url }}">
    home
  </a>

{% else %}

  <a href="{{ '/months/' | relative_url }}">
    months
  </a>

{% endif %}

{% endif %}

  {% if page.next.url %}
    <a href="{{ page.next.url | relative_url }}">
      next &gt;
    </a>
  {% endif %}

</div>

{% endif %}

{% unless page.url == '/months/' %}

<div class="footer {% if page.url != '/' %}post-footer{% endif %}">

  <div class="touch">
    <a href="mailto:jemmusicja@duck.com">GET IN TOUCH</a>
  </div>

  <div class="part">
    <em>Je'm is part of</em> OHLUCINDA
  </div>

  <div class="links">
    <a href="https://lyrics.ohlucinda.com" target="_blank">Lyrics</a> |
    <a href="https://gemdtp.ohlucinda.com" target="_blank">gem</a>
  </div>

  <div class="copyright">
    © 2024 All rights reserved
  </div>

</div>

{% endunless %}

</body>
</html>
