<!DOCTYPE html>
<html lang="ja">

<head>

<meta charset="UTF-8">

<link rel="stylesheet" href="https://use.typekit.net/qsa5fag.css">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="style.css">

<title>Je'm | Writes</title>

</head>

<body>

<main>

<header class="site-header">

  Je'm | Writes

</header>

<nav class="top-nav">

  <div>
    <a href="months">
      Months
    </a>
  </div>

  <div>
    <a href="bookmarks">
      Bookmarks
    </a>
  </div>

  <div>
    <a href="about">
      About
    </a>
  </div>

</nav>

</main>

</body>

</html>
